*

# Includes must go first!

# Folders

!/.bashrc.d/**
!/.config/**

!/.tmux/*
!/.tmux/plugins/tpm/**

!/.vim/**
!/script/**
!/setup/**

# Files

!/.bash_aliases
!/.bash_logout
!/.gitconfig
!/.ideavimrc
!/.inputrc
!/.nvim
!/.nvimrc
!/.tern-project
!/.tmux.config
!/.vimrc
!/.vsvimrc

!yarn.lock
!.gitignore

!*/

# Then the generic excludes after

*.s[^c]?
node_modules/
.netrwhist
.bashrc.local.d/
.vim/plugged

*.log
*.orig
*.rej

.layout_backup.txt
all-layouts.json
