[user]
    name=Jessica
    email=jessica@allons.me
[core]
    autoclrf=input
[branch]
    autosetuprebase=always
[bash]
	enableGitStatus = true
	enableStatusSymbol = true
[push]
    default = simple
